html,body {
  height:100%;
  margin:0;
  background-color: rgb(37, 37, 37);
}

#bg-container, #video {
  height: 100%;
  width: 100%;
}

#video-container {
  height: 100%;
  width: 100%;
  z-index: -10;
}

#mask-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(37, 37, 37, 0.75);
  z-index: 10;
}

#logo-layer {
  height: 100%;
  position: relative;
  z-index: 20;
}

#logo {
  margin: 0;
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
